.list {
  display: flex;
  gap: 0;
  border-bottom: 1px solid var(--pico-muted-border-color);
}

.tab {
  all: unset;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}

.tab:hover {
  color: var(--pico-primary);
}

.tab[data-selected] {
  border-bottom-color: var(--pico-primary);
  color: var(--pico-primary);
}

.indicator {
  background: var(--pico-primary);
  height: 2px;
}
