.skeleton {
  display: block;
  background: var(--pico-secondary-background);
  border-radius: var(--pico-border-radius);
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
