# Exclude third-party game data files
third_party/

# Exclude git submodules
docs/libs/

# Exclude lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Next
.intlayer/
.next/
.velite/
styled-system/