.root {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: var(--pico-form-element-background-color);
  border: 1px solid var(--pico-form-element-border-color);
  border-radius: 4px;
  cursor: pointer;
}

.root:hover {
  border-color: var(--pico-form-element-active-border-color);
}

.root[data-checked] {
  background: var(--pico-primary);
  border-color: var(--pico-primary);
}

.indicator {
  color: var(--pico-primary-inverse);
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator::before {
  content: '✓';
  font-size: 14px;
}
