.group {
  display: inline-flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background: var(--pico-form-element-background-color);
  border: 1px solid var(--pico-form-element-border-color);
  color: var(--pico-color);
  text-align: center;
  -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus {
  outline: none;
  border-color: var(--pico-form-element-active-border-color);
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: var(--pico-form-element-background-color);
  border: 1px solid var(--pico-form-element-border-color);
  cursor: pointer;
}

.button:hover {
  background: var(--pico-secondary-background);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.decrement {
  border-radius: var(--pico-border-radius) 0 0 var(--pico-border-radius);
  border-right: none;
}

.increment {
  border-radius: 0 var(--pico-border-radius) var(--pico-border-radius) 0;
  border-left: none;
}
