app = "wowlab-beacon"
primary_region = "lhr"

[build]
  dockerfile = "Dockerfile"

[env]
  CENTRIFUGO_ENGINE_TYPE = "redis"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "connections"
    hard_limit = 10000
    soft_limit = 8000

  [[http_service.checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "GET"
    path = "/health"

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
