app = "wowlab-nats"
primary_region = "lhr"

[build]
  dockerfile = "Dockerfile"

[[services]]
  protocol = "tcp"
  internal_port = 4222
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    port = 4222

[[vm]]
  size = "shared-cpu-1x"
  memory = "256mb"
