.label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.description {
  color: var(--pico-muted-color);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.error {
  color: var(--pico-del-color);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
