.trigger {
  all: unset;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.75rem 0;
  cursor: pointer;
  border-bottom: 1px solid var(--pico-muted-border-color);
}

.trigger:hover {
  color: var(--pico-primary);
}

.panel {
  padding: 0.75rem 0;
}
